<html>
<head>
  <title>m fifteen puzzle</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
  
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>

  <script type="text/javascript" src="/bower_components/jquery-touchswipe/jquery.touchSwipe.js"></script>

  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  
  <script type="text/javascript" src="/bower_components/animo.js/animo.js"></script>

  <link href="/bower_components/animo.js/animate+animo.css" rel="stylesheet" type="text/css">

  <script type='application/javascript' src='/bower_components/fastclick/lib/fastclick.js'></script>

  <link href="/css/fifteen_style.css" rel="stylesheet">
  <script type="text/javascript" src="/js/game_logic.js"></script>
  

  <script type="text/javascript">
  $(function() {
    // this will be the input image, the one the user wants to scramble and send to a friend as 
    // a puzzle..
    // we're going to need to decide on a standard for input dimensions, hundreds of pixels? 
    // or number of rows / columns

    var imageStub = {
      n: 4
    };

    var game = new Game();
    // send image object along with Game.init
    game.initialize(imageStub);

    FastClick.attach(document.body);



    // dumb chime sound stuff
    $("#audio1").trigger('load');
    $("#audio2").trigger('load');

  });

  </script>
</head>
<body>
  <div id="puzzlearea"></div>
  
  <!-- I have two of these here because I can't figure out a better way to  -->
  <!-- have the mp3 reset fast enough to support rapid user clicks / swipes -->
  <audio id="audio1" preload="none" style="display:none;"> 
     <source src="audio/bloop1.mp3" type="audio/mpeg">
     <!-- <source src="audio/music.ogg" type="audio/ogg"> -->
  </audio>
  <audio id="audio2" preload="none" style="display:none;"> 
     <source src="audio/bloop2.mp3" type="audio/mpeg">
     <!-- <source src="audio/music.ogg" type="audio/ogg"> -->
  </audio>

</body>
</html>










