/* CSE 190M Homework 4 (Fifteen Puzzle) style sheet */


#controls, #overall, #puzzlearea {
	/*width: 400px;*/
}

#controls {
	padding-top: 10px;
	text-align: center;
}

h1 {
	margin: 10px 0px;
	text-align: center;
}


/* The area that holds the 15 puzzle pieces. */
#puzzlearea {
	font-family: monospace;
	font-size: 32pt;
	/*margin-top: 30px;*/
	position: relative;
}

/* This class should be applied to each of the 15 puzzle pieces. */
.puzzlepiece {
	/*background-image: url(/images/lsp.png);*/
	background-image: url(/images/adventure_time_2.jpg);
	background-size: 320px 400px;
	border: 2px solid black;
	height: 96px;
	/*height: 106px;*/
	line-height: 96px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	/*width: 96px;*/
	width: 76px;
}

.position {
	/*display:none;*/
}

/* This class should be applied to a puzzle piece that can be moved. */
.puzzlepiecehover {
	border-color: red;
	color: red;	
	font-weight: bold;
	text-decoration: underline;
}







/*BOOTSTRAP OVERRIDES*/


.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

