body {
	background-color: #5FAD8F;	
}

h1 {
	margin: 10px 0px;
	text-align: center;
}

#puzzlearea {
	font-family: monospace;
	font-size: 32pt;
	color: #EAD9C9;
	text-shadow: 2px 2px #3A313B;
	position: relative;
	width: 320px;
	margin: 0px auto;
}

/* This class should be applied to each of the 15 puzzle pieces. */
.puzzlepiece {
	background-image: url(/images/adventure_time_2.jpg);
	background-size: 320px 400px;
	border: 2px solid #3A313B;
	height: 96px;
	line-height: 96px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	/*width: 96px;*/
	width: 76px;
}

.position {
	/*display:none;*/
}

/* This class should be applied to a puzzle piece that can be moved. */
.puzzlepiecehover {
	border-color: #5FAD8F;
	color: #5FAD8F;	
	font-weight: bold;
	text-decoration: underline;
}





/*BOOTSTRAP OVERRIDES*/


.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px auto;
  /*margin-right: auto;*/
  /*margin-left: auto;*/
}

